<div class="alert alert-{{alert.AlertStatus}}" ng-repeat="alert in alerts"><b>{{alert.AlertTitle}}:</b>{{alert.AlertMsg}}
  <span class="text-right">
    <a aria-label="Close" class="btn btn-danger btn-xs" ng-click='closeAlert($index)' style=" float: right!important; top: -5px;    left: 4px; position: relative;">&times;</a>
  </span>
</div>
<div class="row">
  <div class="col-xs-12 col-lg-4">
    <div class="panel panel-success">
    <div class="panel-heading">Energy Use</div>
    <div class="panel-body text-center"><knob id="energyMeter" knob-data="energyNow.value" knob-options="energyNow.options" ng-init="getEnergyNow()" ng-click="getEnergyNow()"></knob></div>
  </div>
  </div>
<div class="col-xs-12 col-lg-8">
  <div class="panel panel-primary">
  <div class="panel-heading">History</div>
  <div class="panel-body"><canvas id="line" class="chart chart-line" chart-data="data"
  chart-labels="labels" chart-legend="true" chart-series="series"
  chart-click="onClick" >
</canvas> </div>
</div>
</div>
</div>
