<div class="row">
  <div class="col-xs-12 col-lg-4">
    <div class="panel panel-success">
    <div class="panel-heading">Energy Use</div>
    <div class="panel-body text-center"><knob id="energyMeter" knob-data="energyNow.value" knob-options="energyNow.options"></knob></div>
  </div>
  </div>
<div class="col-xs-12 col-lg-8">
  <div class="panel panel-info">
  <div class="panel-heading">History</div>
  <div class="panel-body"><canvas id="line" class="chart chart-line" chart-data="data"
  chart-labels="labels" chart-legend="true" chart-series="series"
  chart-click="onClick" >
</canvas> </div>
</div>
</div>
</div>
