<div class="row">
  <div class="col-xs-12 col-lg-8 col-lg-offset-2">
    <div class="btn btn-block btn-default" ng-class="{'btn-default':currentStatus.button=='away','btn-success':(currentStatus.button=='away' && currentStatus.method='manual'),'btn-info':(currentStatus.button=='home' && currentStatus.method='home')}" ng-disabled="currentStatus.button=='home'" ng-click="isHome()"><i class="fa fa-5x fa-home"></i><h3>{{currentStatus.button=='home' ? "Looks like you're Home" : "I'm Home"}}<span ng-show="currentStatus.button=='home'"><br><small>{{currentStatus.method=='auto' ? 'Set Automatically' : 'Set Manually'}}</small></span></h3></div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12 col-lg-8 col-lg-offset-2">
    <div class="btn btn-block btn-default" ng-class="{'btn-default':currentStatus.button=='home','btn-success':(currentStatus.button=='away' && currentStatus.method='manual'),'btn-info':(currentStatus.button=='away' && currentStatus.method='auto')}" ng-disabled="currentStatus.button=='away'" ng-click="isAway()"><i class="fa fa-5x fa-sign-out"></i><h3>{{currentStatus.button=='away' ? "Looks like you're Away" : "I'm Away"}}<span ng-show="currentStatus.button=='away'"><br><small>{{currentStatus.method=='auto' ? 'Set Automatically' : 'Set Manually'}}</small></span></h3></div>
  </div>
</div>
