<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-info">
      <div class="panel-heading">Your Eversafe</div>
      <div class="panel-body">
        <h4>
          <i class="fa fa-plug"></i> Eversafe Plugs

        </h4>

        <div class="list-group" ng-init="getPlugs()">
    <a class="list-group-item" ng-repeat="plug in eversafePlugs">
    <i class="fa fa-plug"></i> {{plug.locationName}} <span class="text-right" style="height:20px !important;"><input
    bs-switch switch-size="mini"
    switch-on-text="Auto"
    switch-on-color="success"
    type="checkbox" ng-model="plug.chipEnabled"></span>
    </a>

    </div>
    <hr>
    <h4>
      <i class="fa fa-eye"></i> Eversafe Sensors

    </h4>

    <div class="list-group">
<a class="list-group-item" ng-repeat="sensor in eversafeSensors">
<i class="fa" ng-class="{fa-eye: sensor.enabled == 'true', fa-eye-slash: sensor.enabled == 'false'}"></i> {{sensor.name}} <span class="text-right" style="height:20px !important;"><input
  ng-model="sensor.enabled"  switch-size="mini"
bs-switch
switch-on-color="success"
type="checkbox"></span>
</a>
</a>

</div>
      </div>
    </div>
  </div>
</div><div class="row">
  <div class="col-xs-12">
    <div class="panel panel-success">
      <div class="panel-heading">Your Energy</div>
      <div class="panel-body">
          <form class="form-horizontal">
            <h4>
              <i class="fa fa-power-off"></i> Energy Costs

            </h4>
            <div class="form-group" ng-class="{'has-error': (formErrors.indexOf('billingType')>-1)}">
              <label class="control-label" for="billingType">How is your electricity billed?</label>
              <div class="btn-group" name="location">
                <a uib-btn-radio="'fixed'" class="btn btn-success" ng-model="energyInfo.billingType">Fixed Rate</a>
                <a uib-btn-radio="'variable'" class="btn btn-warning" ng-model="energyInfo.billingType">Variable Rate</a>
              </div>
          </div>
          <div class="form-group" ng-class="{'has-error': (formErrors.indexOf('perUnit')>-1)}" ng-show="energyInfo.billingType=='fixed'">
            <label class="control-label" for="perUnit">How much do you pay per unit?</label>
            <div class="input-group">
              <span class="input-group-addon">£</span>
              <input id="f_1" class="form-control" name="perUnit" ng-keypress="keypressHandler($event, 2)" ng-model="energyInfo.perUnit" step="0.01" min="0.01" max="5.00" type="number"></div>
          </label>
        </div>
        <!--- Variable rate --->
        <div ng-show="energyInfo.billingType == 'variable'">
          <div class="form-group well" ng-repeat="row in energyInfo.variableRateTimes">
            <div class="row">
              <div class="col-xs-1">
            I pay
          </div>
            <div class="col-xs-3">
            <div class="input-group">
              <span class="input-group-addon">£</span>
              <input class="form-control" type="number" step="0.01" min="0.01" max="5.00"></div>
            </div>
              <div class="col-xs-2">

            between
          </div>
          <div class="col-xs-2">
            <input class="form-control" type="time">
          </div>
          <div class="col-xs-1">
            and
          </div>
          <div class="col-xs-2">
            <input class="form-control" type="time">
          </div>
          <div class="col-xs-1">
            <input class="form-control" type="time">
            <a class="btn btn-danger" ng-click="removeFromFieldset('energyInfo','variableRateTimes',$index)">
              <i class="fa fa-times"></i>
            </a>
          </div>
          </div>
          </div>
          <a class="btn btn-success" ng-click="addToFieldset('energyInfo','variableRateTimes')">
            <i class="fa fa-plus"></i>
          </a>
          <!-- endrpt -->
        </div>
    </div>
  </div>
</div>
</div>
