<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="btn btn-block btn-default" ng-class="{'btn-default':button=='away','btn-success':button=='home'}" ng-click="button='home'"><i class="fa fa-5x fa-home"></i><h3>I'm home</h3></div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="btn btn-block btn-default" ng-class="{'btn-default':button=='home','btn-success':button=='away'}" ng-click="button='away'"><i class="fa fa-5x fa-sign-out"></i><h3>I'm away</h3></div>
  </div>
</div>
